@model MoneyUpdateRequest

@{
    ViewBag.Title = "Edit Record";
}

<a class="back-link" asp-controller="Home" asp-action="GetRecords">Назад до списку записів</a>
<h2 class="form-title">Редагувати Запис</h2>

<div class="form-container">
    <form asp-controller="Home" asp-action="Edit" method="post" class="edit-form">
        <input type="hidden" asp-for="Id" />

        @*Адреса клієнта*@
        <div class="form-group">
            <label asp-for="ClientAddress">Адреса клієнта</label>
            <input asp-for="ClientAddress" class="form-input" />
            <span asp-validation-for="ClientAddress" class="validation-error"></span>
        </div>

        @*Заробіток*@
        <div class="form-group">
            <label asp-for="Money">Заробіток за годину</label>
            <input asp-for="Money" type="number" step="0.01" class="form-input" />
            <span asp-validation-for="Money" class="validation-error"></span>
        </div>

        @*Тривалість роботи*@
        <div class="form-group">
            <label asp-for="WorkDuration">Тривалість роботи</label>
            <input asp-for="WorkDuration" type="number" class="form-input" />
            <span asp-validation-for="WorkDuration" class="validation-error"></span>
        </div>

        @*Комісія*@
        <div class="form-group">
            <label asp-for="Сommission">Комісія за годину</label>
            <input asp-for="Сommission" type="number" step="0.01" class="form-input" />
            <span asp-validation-for="Сommission" class="validation-error"></span>
        </div>

        @*Дата*@
        <div class="form-group">
            <label asp-for="Date">Дата</label>
            <input asp-for="Date" type="date" class="form-input" />
            <span asp-validation-for="Date" class="validation-error"></span>
        </div>

        @*Кнопка оновлення*@
        <div class="form-group form-actions">
            <button type="submit" class="submit-btn">Оновити</button>
            @* Альтернатива виводження помилок з модулей <div asp-validation-summary="All"></div> *@

           @*  @if (ViewBag.Errors != null)
            {
                <div class="text-red ml">
                    <ul>
                        @foreach (string error in ViewBag.Errors)
                        {
                            <li class="ml">@error</li>
                        }
                    </ul>
                </div>
            } *@
        </div>
    </form>
</div>
